.rating {
  border: none;
  direction: rtl;
  font-size: 45px;
  margin: auto;
  overflow: hidden;
  width: 226px;
}

.rating label {
  color: #aaa;
  float: right;
  text-decoration: none;
  transition: color 0.2s;
}

.rate-label:hover, .rate-label:hover ~ label {
  color: yellow;
  cursor: pointer;
}

.checked {

  /* stylelint-disable-next-line declaration-no-important */
  color: yellow ! important;
}

.input-radio {
  display: none;
}
