.rating {
    width: 226px;
    margin: auto;
    font-size: 45px;
    overflow: hidden;
    direction: rtl;
    border: none;
}
.rating label {
    float: right;
    color: #aaa;
    text-decoration: none;
    transition: color 0.2s;
}
.rating label:hover, .rating label:hover ~ label, .rating label:focus, .rating label:focus ~ label {
    color: yellow;
    cursor: pointer;
}
.checked {
    color: yellow !important;
}
input[type="radio"] {
    display: none;
}
.specs-eval-sect {
    display: flex;
    flex-wrap: wrap;
}