.cat-toggle-btn {
  background-color: var(--yellow);
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px var(--light-gray);
  color: var(--gray1);
  display: block;
  font-size: 1.1rem;
  font-weight: 600;
  margin: 15px auto;
  padding: 15px;
}

.buttons-sect {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px auto 50px;
  width: 90%;
}

.cat-button {
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px var(--gray3);
  color: var(--gray1);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  height: 150px;
  margin: 3px;
  width: 120px;
}

.cat-button:hover {
  background-color: var(--light-yellow);
  height: 155px;
  width: 125px;
}

.search-sect {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 90%;
}

.search-input {
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px var(--gray3);
  flex-grow: 1;
  margin: 0 15px;
  padding: 15px;
}

.search-btn {
  background-color: var(--yellow);
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px var(--gray3);
  color: var(--gray1);
  font-size: 1.1rem;
  font-weight: 600;
  padding: 15px;
}

.guide-p {
  color: var(--gray1);
  margin: 20px auto;
  text-align: center;
  width: 90%;
}

.search-select {
  background-color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px var(--gray3);
  display: block;
  font-size: 1.2rem;
  margin: 15px auto;
  padding: 15px;
}

.search-result {
  margin: 15px;
}

.search-select option {
  font-size: 1.3rem;
}
