:root {

  --light-blue: rgb(1, 79, 124);

  --dark-blue: rgb(1, 47, 107);

  --light-gray: rgb(225, 229, 235);

  --gray1: rgb(62, 66, 75);

  --gray2: rgb(40, 42, 47);

  --gray3: rgb(30, 31, 36);

  --gray4: rgb(26, 27, 28);
}
