:root {

  --yellow: #ffce4f;

  --light-yellow: #ffe195;

  --light-blue: rgb(1, 79, 124);

  --dark-blue: rgb(1, 47, 107);

  --light-gray: rgba(225, 229, 235, 0.582);

  --light-gray2: #5f5f5f83;

  --light-gray3: rgba(225, 229, 235, 0.781);

  --gray1: #686868;

  --gray2: #5f5f5f;

  --gray3: #adadad;

  --gray4: #969696;


}

body {
  background-color: var(--light-gray);
  color: var(--gray1);
}
